@model IEnumerable<Trabajoempleados.Models.CATEGORIA>
<link href="~/Content/crear.css" rel="stylesheet" />
@{
    ViewBag.Title = "Modificar Categorias";
    Layout = "~/Views/Shared/_categoriavacio.cshtml";
}

<h2>Modificar Categoría</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |

            </td>
        </tr>

    }

</table>
<li><a href="javascript: history.go(-1)">Volver.</a></li>